<%= bootstrap_form_for :url, url: decode_urls_path, inline_errors: false do |f| %>
    <%= f.text_field :short_url, class: "input-lg", placeholder: true %>
    <%= f.submit "Decode url", class: "btn btn-primary btn-lg" %>
<% end %>
