<div class="jumbotron">
  <h2><%= t("result.heading.short_url") %></h2>
  <p>
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    <%= shortened_url(@url) %>
  </p>
  <p><em><%= t("result.heading.long_url") %></em></p>
  <p>
    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
    <%= @url.long_url %>
  </p>
  <p>
    <%= link_to shortened_url(@url), class: "btn btn-primary btn-lg", role: "button", target: "_blank" do %>
        <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
        <%= t("result.button.visit_url") %>
    <% end %>
    <%= link_to new_url_path, class: "btn btn-default btn-lg", rule: "button" do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        <%= t("result.button.restart") %>
    <% end %>

    <%= link_to new_decode_url_path, class: "btn btn-default btn-lg", rule: "button" do %>
        <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
        <%= t("result.button.decode_another") %>
    <% end %>
  </p>
</div>
